@charset "utf-8";

/*視窗底色設定*/
body{
	background-image:url(img/bg-stripe01.png);
	background-repeat:repeat-x;
	width: 700px;
	margin: 40px auto;
	/* padding: 40px 80px; */
}

/*連結顏色設定*/
a{
	color:#1fb6e4;
}

a:hover{
	color:#0e6fe6;
}

/*頁面標題設定*/
h1{
	color:#0341ea;
	text-align:center;
	font-size:250%;
}
/*次標題設定*/
h2{
	color:#134bcf;
	border:#1180d4 1px dotted;
	border-left:#3a9fc3 10px solid;
	padding:5px 20px;
	margin-bottom:0;
}

/*內容標題設定*/
dt{
	clear: left;
	float: left;
	font-weight:bold;
}

